alembic==1.4.2
bcrypt==3.1.7
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
click==7.1.2
fastapi==0.54.1
h11==0.9.0
idna==2.9
inflection==0.4.0
Mako==1.1.2
MarkupSafe==1.1.1
-e git+https://github.com/ChrisKneller/newcompanies.git@66ca1aa18162fbe4cfb6d24580dc75544d0b261b#egg=newcompanies
passlib==1.7.2
psycopg2==2.8.5
pycparser==2.20
pydantic==1.5.1
PyJWT==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-multipart==0.0.5
requests==2.23.0
six==1.14.0
SQLAlchemy==1.3.16
starlette==0.13.2
urllib3==1.25.9
uvicorn==0.11.5
websockets==8.1
